* {
    border: 2px dotted red;
}
.container {
    width: 700px;
    height: auto;
    background-color: khaki;
    padding: 10px;
}

.header {
    margin: 0px 65px;
}

.container img {
    width: 100px;
    height: auto;
    display: inline-block;
}

.header h1 {
    display: inline-block;
    margin: 0px;
}

.container li {
    display: inline-block;
}

.container ul {
    margins: 0px;
}

.blue {
    background-color:  #82b3ed;
	padding:15px 15px 12px 15px;
	border: 3px solid black;
	margin:1px;
}

.pink {
    background-color: #f3696f;
	padding:15px 15px 12px 15px;
	border: 3px solid black;
	margin:1px;
}